html, body, #map {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	margin: 0;
}
.stLouis {
	text-align: center;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
p {
	text-decoration: underline;
}
.listBox, .searchBox, .searchList {
	border-style: solid;
	border-width: .3em;
	border-color: black;
}
.listBox {
	max-width: 30%;
	font-size: 16px;
	position: fixed;
	z-index: 99;
	top: 4.26em;
	right: 1%;
	color: #0000ff;
	text-decoration: none;
}
.searchBox {
	padding: 0.5em 1em;
	border-radius: 0.2em;
	background-color: #f0f0f0;
	box-shadow: 1px 1px 5px #0c0c0c;
	margin-bottom: 0.3em;
	vertical-align: middle;
}
.searchList {
	background-color: #f0f0f0;
	opacity: 0.7;
}
#search {
	width: 100%;
	border: none;
	line-height: 2em;
	font-size: 16px;
}
.list-item {
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
}
.list-item:hover {
	background-color: #e0e0e0;
}
.destinationName {
	font-size: 18px;
}
.toggleArrows {
	background-color: #f0f0f0;
	text-align: center;
}
.google-error {
	text-align: center;
	margin-top: 100px;
}
h2 {
    color: #ca15ca;
    text-align: center;
    font-size: 3em;
}
.weather {
	color: #0000ff;
	font-size: 1.4em;
	font-weight: bolder;
	text-align: center;
}
.webLink {
	color: #00ee00;
}
.wiki {
	color: #ff6600;
}
.webLink, .wiki, .direction {
	font-size: 1.2em;
	text-decoration: underline;
	text-align: right;
}
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 700px) {
	.stLouis {
		font-size: 2em;
		color: #0000ff;
	}
	.listBox {
		color: #770077;
	}
}
@-ms-viewport {
	width: device-width;
}